<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @resource.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @resource.url %>
</p>

<p>
  <strong>Root url:</strong>
  <%= @resource.root_url %>
</p>

<p>
  <strong>Host:</strong>
  <%= @resource.host %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @resource.image_url %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
