<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ui container">
    <div id="logo_container" class="ui container">
      <%= image_tag "logo.png", id: "logo", class: "ui fluid image" %>
    </div>
    <div id="menu_container" class="ui container">
      <div class="ui menu">
        <div class="item">
          Levels
        </div>
        <div class="right menu">
          <div class="item">
            Filters
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
